<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Customer Corner</h1>

    <p>
        @Html.ActionLink("View Order History", "OrderHistory", new { @style = "color:white", @class = "btn btn-secondary" })
    </p>
    <p>
        @Html.ActionLink("Log Out", "LogOut", new { @style = "color:white", @class = "btn btn-secondary" })
    </p>
</body>
</html>