@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Caleb's Rootbeer Empire</h1>
    <p>Please login or register at the Customer Corner before shopping</p>
    <div>
        <img src="https://songsink.blob.core.windows.net/testcontainer/Empire_Transparents.png" alt="Round logo with Caleb's Root Beer Empire around the perimeter and a mug of root beer in the middle" style="width: 70%;display: block;margin-left:auto;margin-right: auto;" />
    </div>
</div>
